.profile {
    display: flex;
    margin-bottom: 51px;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .profile {
        margin: 0 27px 51px 27px;
    }
  }

@media screen and (max-width: 767px) {
    .profile {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 35px;
    }
  }
